*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 13px;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Manrope', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
