@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 13px;
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  font-size: 12px;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Kumbh Sans', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.faq-section {
  min-height: 100vh;
  background-color: var(--soft-violet);
  background: linear-gradient(var(--soft-violet), var(--soft-blue)) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 330px;
  background-color: #fff;
  padding: 25px;
  border-radius: 20px;
  display: grid;
  grid-template-areas:
    'header'
    'body';
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  &__header {
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 120px;
  }

  &__body {
    grid-area: body;
  }

  &__image {
    &--mobile {
      margin-left: -30px;
      margin-top: -133px;
    }

    // :after {
    //   position: absolute;
    //   bottom: -1.5rem;
    //   width: 100%;
    //   height: 100%;
    //   background-image: url('/images/bg-pattern-mobile.svg');
    //   background-repeat: no-repeat;
    //   background-position: 50% 100%;
    //   content: '';
    //   z-index: -1;
    // }
  }

  &__headline {
    font-size: 2.5rem;
    text-align: center;
    margin: 30px 0 20px 0;
  }

  &__item {
    border-bottom: 1px solid #e7e7e9;
  }

  &__question {
    padding: 1.8rem 0;
    list-style: none;
  }
}
